<div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        
      </div>
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12 col-sm-12 ">
          <div class="x_panel">
            <div class="x_title">
              <h3>Cambio de Contraseña</h3>
              <div class="clearfix"></div>
              <p class="text-muted font-13 m-b-30">
              
              </p>
            </div>
            <div class="x_content">
              <br />   
              <form>
                <div class="form-group">
                  <label for="exampleInputEmail1">Contraseña Actual</label>
                  <input type="password" class="form-control validateInput" id="password_verification" name="password_verification" placeholder="Contraseña Actual">

                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Contraseña Nueva</label>
                  <input type="password" class="form-control validateInput" id="password_new_change" name="password_new_change" placeholder="Contraseña Nueva">
                </div>
                
                <button type="button" class="btn btn-primary" id="btnactualizaPassword" name="btnactualizaPassword">Cambiar Contraseña</button>
              </form>
                    
                
                
                
              </div>
           
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>   
